/* #Debug Styles
================================================== */
.fskelWidget .fskelWidgetDescription {
    display: none;
    border: 1px solid #cccccc;
    background-color: rgba( 185, 185, 185, .25 );
    margin: 0 0 10px 0;
    padding: 9px 12px;
    overflow: hidden;
}

.fskelWidget .fskelWidgetDescription h6 {
    margin: 0;
    font-size: 1rem;
    line-height: 1em;
}

.fskelWidget .fskelWidgetDescription p {
    display: none;
    margin: 0;
    font-style: italic;
    font-size: 1rem;
    line-height: 1em;
}

.fskelWidget .fskelWidgetDescription:hover {
    background-color: rgba( 185, 185, 185, .5 );
}

.fskelWidget .fskelWidgetDescription:hover h6 {
    display: none;
}

.fskelWidget .fskelWidgetDescription:hover p {
    display: block;
}

body.fskelDebug.fskelDebugWidgets .fskelWidget .fskelWidgetDescription {
    display: block;
}

.fskelInactive {
    display: none !important;
}

body.fskelDebug.fskelDebugWidgets .fskelWidgetGroup.fskelInactive,
body.fskelDebug.fskelDebugWidgets .fskelWidget.fskelInactive {
    display: inherit !important;
}

body.fskelDebug.fskelDebugGrid .container {
    background-image: url(../images/grid-16_col.png);
}
