/* SKIP CONTENT */
#wrapper > .skip-link:focus {
    clip: inherit;
    outline: none;
    left: 6px;
    top: 7px;
    height: auto;
    width: auto;
    display: block;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 23px 14px;
    background: #f1f1f1;
    color: #0073aa;
    z-index: 100000;
    line-height: normal;
    text-decoration: none;
    -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
    box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}

/* HEADER MENU
================================================== */
#zone-header-menu .fskelMenu .hamburger-header h3 {
    display: none;
}

#zone-header-menu .fskelMenu.responsive .hamburger-header h3 {
    display: block;
}
#zone-header-menu .fskelMenu .hamburger-header h3 .fa {
    padding-right: 0.9375rem;
}

#zone-header-menu .fskelMenu ul {
    margin: 0 -5px;
}

#zone-header-menu .fskelMenu ul li {
    display: inline;
    float: left;
    white-space: nowrap;
    line-height: 1em;
    padding: 0 5px;
}

#zone-header-menu .fskelMenu ul li.menu-item-home a {
}

#zone-header-menu .fskelMenu ul li.menu-item-home a:before {
    content: "\f015";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#zone-header-menu .fskelMenu ul li.menu-item-home a span {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

#zone-header-menu .fskelMenu.responsive ul li {
    display: block;
    float: none;
}

/* TOP/BOTTOM MENUS
================================================== */
#section-top-menu .fskelMenu > ul {
    float: right;
}

#section-top-menu .fskelMenu > ul,
#section-bottom-menu .fskelMenu > ul {
    margin: 0 -5px;
}

#section-top-menu .fskelMenu > ul > li,
#section-bottom-menu .fskelMenu > ul > li {
    display: inline;
    float: left;
    padding: 0 5px;
}


/* MISC
================================================== */
/* HIDE WP STATS SMILE IMAGE */
img#wpstats {
    display: none;
}

/* ACCESSIBLE HIDE CLASS */
.screen-reader-text,
.hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}
