/* Widget Debug
================================================== */
.fskelWidget .fskelWidgetDescription {
    display: none;
    border: 1px solid #cccccc;
    background-color: rgba( 185, 185, 185, .25 );
    margin: 0 0 10px 0;
    padding: 9px 12px;
    overflow: hidden;
}

.fskelWidget .fskelWidgetDescription h6 {
    margin: 0;
    font-size: 1rem;
    line-height: 1em;
}

.fskelWidget .fskelWidgetDescription p {
    display: none;
    margin: 0;
    font-style: italic;
    font-size: 1rem;
    line-height: 1em;
}

.fskelWidget .fskelWidgetDescription:hover {
    background-color: rgba( 185, 185, 185, .5 );
}

.fskelWidget .fskelWidgetDescription:hover h6 {
    display: none;
}

.fskelWidget .fskelWidgetDescription:hover p {
    display: block;
}

body.fskelDebug.fskelDebugWidgets .fskelWidget .fskelWidgetDescription {
    display: block;
}

.fskelInactive {
    display: none !important;
}

body.fskelDebug.fskelDebugWidgets .fskelWidgetGroup.fskelInactive,
body.fskelDebug.fskelDebugWidgets .fskelWidget.fskelInactive {
    display: inherit !important;
}



/* GRID DEBUG
================================================== */
#fskelGridOverlay {
    display: none;
}

body.fskelDebugGrid #fskelGridOverlay {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    opacity: 0.25;
    pointer-events: none;
    z-index: 999;
}

body.fskelDebugGrid #fskelGridOverlay * {
    height: 100%;
}

body.fskelDebugGrid #fskelGridOverlay .columns {
    border-left: 1px solid pink;
    border-right: 1px solid pink;
}
body.fskelDebugGrid #fskelGridOverlay .columns:first-child {
    border-left-width: 2px;
}
body.fskelDebugGrid #fskelGridOverlay .columns:last-child {
    border-right-width: 2px;
}

body.fskelDebugGrid #fskelGridOverlay .fskelGridBackground {
    background-color: pink;
    margin: 0 -2px;
}
